.glass-effect {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.product-card:hover .product-image {
    transform: scale(1.05);
}
.product-image {
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body {
    background-color: #f8f9ff;
    color: #121c2a;
    min-height: max(884px, 100dvh);
}
